*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    overflow: hidden;
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 80px;
    cursor: pointer;
    margin: 30px 0;
    margin-right: 100px;
}

.menuBar{
    display: none;
}

nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.menulist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#reg{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 20px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.dropdown-content img{
    margin-right: 10px;
}

.drop-down:hover .dropdown-content{
    display: block;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0 0 0;
    padding: 0 0 0 70px;
}

.row1{
    align-items: center;
}

.row1 h1{
   font-size: 70px;
}

.row1 p{
    font-size: 20px;
    margin: 40px 0 80px 0;
}

.row1 button{
    display: block;
    margin: 30px 0 200px 0;
}

.row1 img{
    margin-right: 30px;
    cursor: pointer;
    height: 25px;
}

.row2{
    background-image: url(./assets/image-hero-desktop.png);
    width: 45%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button{
    background-color: black;
    border-radius: 15px;
    padding: 20px 50px;
    color: white;
    font-size: 16px;
}

.hero-desk{
    width: 60%;
    height: 100%;
    margin-left: 300px;
    margin-right: -300px;
}
